mqtt-ffmpeg/.node-red/flows_ip-172-31-87-186.json
[{"id":"24d8d518.51d54a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe842939.3ff2f8","type":"mqtt-broker","z":"","name":"","broker":"52.90.89.176","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9d95086.3c033","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":12,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"892c4103.84cbf","type":"ui_tab","z":"","name":"ORGANIC DETECTION","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a2a75f00.4472f","type":"ui_group","z":"","name":"CAMERA ORGANIC DETECTION","tab":"892c4103.84cbf","order":1,"disp":true,"width":12,"collapse":false},{"id":"45093f59.c5413","type":"ui_group","z":"","name":"DETECTION RESULT","tab":"892c4103.84cbf","order":2,"disp":true,"width":"8","collapse":false},{"id":"3eb4c5b2.f6fada","type":"ui_group","z":"","name":"DETECTION RESULT TRASH","tab":"4a74321f.24852c","order":3,"disp":true,"width":"8","collapse":false},{"id":"76752b91.740134","type":"ui_group","z":"","name":"CAMERA TRASH DETECTION","tab":"4a74321f.24852c","order":2,"disp":true,"width":"12","collapse":false},{"id":"306d132f.55b87c","type":"ui_spacer","name":"spacer","group":"458072f3.50898c","order":5,"width":1,"height":1},{"id":"4a74321f.24852c","type":"ui_tab","z":"","name":"TRASH DETECTION","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ab4f43df.29358","type":"ui_spacer","name":"spacer","group":"76752b91.740134","order":2,"width":6,"height":1},{"id":"59d50c19.c10844","type":"ui_spacer","name":"spacer","group":"76752b91.740134","order":3,"width":6,"height":1},{"id":"8dbf9cfe.bd952","type":"ui_spacer","name":"spacer","group":"76752b91.740134","order":4,"width":6,"height":1},{"id":"2e8df1f6.9f880e","type":"ui_spacer","name":"spacer","group":"76752b91.740134","order":5,"width":6,"height":1},{"id":"7d490f42.4849","type":"aedes broker","z":"24d8d518.51d54a","mqtt_port":1883,"mqtt_ws_port":"","name":"","dburl":"","x":430,"y":220,"wires":[[]]},{"id":"6c05907e.1f005","type":"mqtt in","z":"24d8d518.51d54a","name":"","topic":"speedometer","qos":"0","datatype":"json","broker":"fe842939.3ff2f8","x":130,"y":440,"wires":[["1f28b773.c1a8d9"]]},{"id":"4bb654d9.694d3c","type":"mqtt in","z":"24d8d518.51d54a","name":"","topic":"class","qos":"0","datatype":"json","broker":"fe842939.3ff2f8","x":110,"y":320,"wires":[["5172bc.b86c7d44"]]},{"id":"bf5d2dd7.ee949","type":"ui_template","z":"24d8d518.51d54a","group":"a2a75f00.4472f","name":"","order":1,"width":12,"height":"9","format":"<iframe width=\"1280\" height=\"720\"  src=\"http://52.90.89.176:8082/facstream.mjpeg\" align=\"center\" frameborder=\"0\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":320,"wires":[[]]},{"id":"1f28b773.c1a8d9","type":"change","z":"24d8d518.51d54a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["a8582c58.c015d"]]},{"id":"5172bc.b86c7d44","type":"change","z":"24d8d518.51d54a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":320,"wires":[["6737c4f4.8b46bc"]]},{"id":"a8582c58.c015d","type":"ui_text","z":"24d8d518.51d54a","group":"45093f59.c5413","order":1,"width":8,"height":4,"name":"","label":"DETECTION RESULT: ORGANIC VS RECYCLABLE","format":"{{msg.payload}}","layout":"col-center","x":620,"y":440,"wires":[]},{"id":"6737c4f4.8b46bc","type":"ui_text","z":"24d8d518.51d54a","group":"3eb4c5b2.f6fada","order":1,"width":8,"height":4,"name":"","label":"DETECTION RESULT TRASH","format":"{{msg.payload}}","layout":"col-center","x":510,"y":320,"wires":[]},{"id":"dfe652e.4111fb","type":"ui_template","z":"24d8d518.51d54a","group":"76752b91.740134","name":"","order":1,"width":"12","height":"9","format":"<iframe width=\"1280\" height=\"720\"  src=\"http://52.90.89.176:8082/facstream2.mjpeg\" align=\"center\" frameborder=\"0\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":500,"wires":[[]]}]