mqtt-ffmpeg/.node-red/flows_ip-172-31-87-186-back.json
[{"id":"24d8d518.51d54a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe842939.3ff2f8","type":"mqtt-broker","z":"","name":"","broker":"52.90.89.176","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9d95086.3c033","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":12,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"892c4103.84cbf","type":"ui_tab","z":"","name":"Openvino","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a2a75f00.4472f","type":"ui_group","z":"","name":"Camera","tab":"892c4103.84cbf","order":1,"disp":true,"width":"12","collapse":false},{"id":"45093f59.c5413","type":"ui_group","z":"","name":"Velocidad","tab":"892c4103.84cbf","order":2,"disp":true,"width":"8","collapse":false},{"id":"3eb4c5b2.f6fada","type":"ui_group","z":"","name":"Clases","tab":"892c4103.84cbf","order":3,"disp":true,"width":"8","collapse":false},{"id":"7d490f42.4849","type":"aedes broker","z":"24d8d518.51d54a","mqtt_port":1883,"mqtt_ws_port":"","name":"","dburl":"","x":290,"y":200,"wires":[[]]},{"id":"6c05907e.1f005","type":"mqtt in","z":"24d8d518.51d54a","name":"","topic":"speedometer","qos":"0","datatype":"json","broker":"fe842939.3ff2f8","x":130,"y":440,"wires":[["9c75a116.09274","1f28b773.c1a8d9"]]},{"id":"4bb654d9.694d3c","type":"mqtt in","z":"24d8d518.51d54a","name":"","topic":"class","qos":"0","datatype":"json","broker":"fe842939.3ff2f8","x":110,"y":320,"wires":[["76a138c6.935198","5172bc.b86c7d44"]]},{"id":"76a138c6.935198","type":"debug","z":"24d8d518.51d54a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.class_names.length","targetType":"msg","x":340,"y":280,"wires":[]},{"id":"9c75a116.09274","type":"debug","z":"24d8d518.51d54a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.speed","targetType":"msg","x":530,"y":440,"wires":[]},{"id":"b5076f23.d968e","type":"ui_gauge","z":"24d8d518.51d54a","name":"","group":"45093f59.c5413","order":0,"width":"8","height":"4","gtype":"gage","title":"Velocity","label":"kmh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":480,"wires":[]},{"id":"bf5d2dd7.ee949","type":"ui_template","z":"24d8d518.51d54a","group":"a2a75f00.4472f","name":"","order":0,"width":"12","height":"9","format":"<iframe width=\"1280\" height=\"720\"  src=\"http://52.90.89.176:8082/facstream.mjpeg\" align=\"center\" frameborder=\"0\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":600,"wires":[[]]},{"id":"1f28b773.c1a8d9","type":"change","z":"24d8d518.51d54a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["b5076f23.d968e"]]},{"id":"c6f555d.2810ca8","type":"ui_chart","z":"24d8d518.51d54a","name":"","group":"3eb4c5b2.f6fada","order":1,"width":"8","height":"4","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":340,"wires":[[]]},{"id":"5172bc.b86c7d44","type":"change","z":"24d8d518.51d54a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.class_names.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["c6f555d.2810ca8"]]}]